<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Toko Perkakas</title>
  </head>
  <body>
    <h1>{{judul}}</h1>
    <h2 style="text-align:justify">{{info}}</h2>


    {% block content %}


    {% endblock %}
    <footer>
      <h3 align="center">by : {{oleh}}</h3>
    </footer>
  </body>
</html>
